@import 'github-markdown-styles.css';

.markdown-body {
  background: none;
  background-color: transparent;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body p img {
  display: inline-block;
}
